data/cifar10/cifar-10-batches-py/*
/data/cifar10/cifar-10-python.tar.gz
*obj
/outputs/*
*.ipynb_checkpoints*
*.idea*
*.pyc
*nohup.out
trainers/outputs/*
others/landscape/cifar10/data/cifar-10-batches-py
/src/outputs/cifar10-all/
src_ray/outputs/*
src/outputs/*
/half_seminar/build/*
