src/blades/models/cifar10/data/cifar-10-batches-py/*
/src/blades/models/cifar10/data/cifar-10-python.tar.gz
*obj
/outputs/*
*.ipynb_checkpoints*
*.idea*
*.pyc
*.gz
*nohup.out
*debug
*ubyte
trainers/outputs/*
/src/blades/outputs/cifar10-all/
src_ray/outputs/*
src/blades/outputs/*
/half_seminar/build/*
/src/blades/models/cifar10/data/preprocess/cifar-10-batches-py
/src/blades/models/cifar10/data/preprocess/cifar-10-python.tar.gz
/build
src/blades/simulator/data/
src/build
src/dist
*egg-info
src/blades/outputs
src/blades/data
src/blades/MNIST/MNIST/*
src/blades/mnist_output/*
/.vscode/
/src/blades/examples/data/
/src/blades/examples/outputs/
.vscode-upload.json
*.egg
*.vscode
/docs/build