byzantinefl/models/cifar10/data/cifar-10-batches-py/*
/byzantinefl/models/cifar10/data/cifar-10-python.tar.gz
*obj
/outputs/*
*.ipynb_checkpoints*
*.idea*
*.pyc
*nohup.out
trainers/outputs/*
others/landscape/cifar10/data/cifar-10-batches-py
/byzantinefl/outputs/cifar10-all/
src_ray/outputs/*
byzantinefl/outputs/*
/half_seminar/build/*
/byzantinefl/models/cifar10/data/preprocess/cifar-10-batches-py
/byzantinefl/models/cifar10/data/preprocess/cifar-10-python.tar.gz
/build
byzantinefl/simulator/data/
