blades>=0.0.13
matplotlib>=3.4.1
numpy>=1.19.4
pre-commit
ray>=1.0.0
requests>=2.27.1
ruamel.yaml>=0.17.21
ruamel.yaml.clib>=0.2.6
scikit-learn>=1.0.2
scipy>=1.5.4
setuptools>=58.0.4
sklearn>=0.0
torch>=1.10.2
torchvision>=0.11.3
tqdm
